<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/pieces.css">
    <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="js/lodash.js" type="text/javascript"></script>

    <script src="js/board_displays/html.js" type="text/javascript"></script>

    <script src="js/overlays/base.js" type="text/javascript"></script>
    <script src="js/overlays/attacker_display.js" type="text/javascript"></script>
    <script src="js/overlays/hanging_pieces.js" type="text/javascript"></script>


    <script src="js/square.js" type="text/javascript"></script>
    <script src="js/board.js"  type="text/javascript"></script>
    <script src="js/mouse_events.js" type="text/javascript"></script>
    <script src="js/pieces.js" type="text/javascript"></script>
  </head>
  <body>
    <div class=board>
      <div class=squares>
      <% (0...8).each do |r| #rank %>
        <% (0...8).each do |f| #file %>
        <div class="square <%= ((r + f) % 2 == 1) ? "dark" : "light" %>"
             data-pgn=<%= "#{('a'.ord+f).chr}#{8-r}"%>>
        </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </body>
  <script>
    $(function() {
      board.init();
    });
  </script>
</html>
