<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/pieces.css"/>
    <link rel="stylesheet" type="text/css" href="css/overlays.css"/>

    <script type="text/javascript" src="js/vendor/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="js/vendor/lodash.js"></script>

    <script type="text/javascript" src="js/board_displays/html.js"></script>

    <script type="text/javascript" src="js/overlays/base.js">></script>
    <script type="text/javascript" src="js/overlays/attacker_display.js">></script>
    <script type="text/javascript" src="js/overlays/num_attacks.js">></script>
    <script type="text/javascript" src="js/overlays/hanging_pieces.js">></script>

    <script type="text/javascript" src="js/square.js"></script>
    <script type="text/javascript" src="js/board.js"></script>
    <script type="text/javascript" src="js/mouse_events.js"></script>
    <script type="text/javascript" src="js/pieces.js"></script>

  </head>

  <body>
    <div class=board>
      <div class=squares>
      <% (0...8).each do |r| #rank %>
        <% (0...8).each do |f| #file %>
        <div class="square <%= ((r + f) % 2 == 1) ? "dark" : "light" %>"
             data-pgn=<%= "#{('a'.ord+f).chr}#{8-r}"%>>
        </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </body>
  <script>
    $(function() {
      board.init();
    });
  </script>
</html>
