.board {
  z-index -2;
  position: relative;

  width: 800px;
  height: 800px;

  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.squares {
  font-size: 0;
}
.square { 
  opacity 0.93;
  display: inline-block;
  position: relative;
  height: 12.5%;
  width: 12.5%;
  margin: 0;
  padding: 0;
  border: 0;
   
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.square .attackers {
  z-index: 2;
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 8px;
  margin: -8px 0 0 -8px;
  border-style: solid;
  opacity: 1;

  transform: rotate(-45deg);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  pointer-events: none;
}

.square img {
  pointer-events: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;

  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.square .hanging {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.square.dark {
  background: lightsteelblue
}
.square.light {
  background: bisque;
}

.square.dark.valid-move {
  background: lightslategray;
}
.square.light.valid-move {
  background: burlywood;
}

.pieces {
  position: absolute;
  height: 0;
  width: 0;
}

#held_piece { position: absolute; }
